nav {
    z-index: 1;
    
    .navbar-toggler {
        &:focus {
            outline: none;
        }

        .navbar-toggler-icon {
            filter: brightness(0) invert(1);
        }
    }

    .cart {
        position: relative;

        &.show {
            a.nav-link {
                color: #ffffff;
            }
        }

        a.nav-link {
            color: #ffffff;
        }

        .dropdown-menu {
            overflow-y: auto;
            max-height: 50vh;

            @media all and (min-width: 992px) {
                min-width: 400px;
            }
        }

        .badge {
            position: absolute;
            top: 0;
            right: 4px;
            padding: 2px;
        }
    }
}